#!/bin/bash

set -x

# This only works on AWS
localip=$(curl http://169.254.169.254/latest/meta-data/local-ipv4)
external=$(curl -s http://169.254.169.254/latest/meta-data/public-hostname)
internal=$(curl http://169.254.169.254/latest/meta-data/local-hostname)

sudo kubeadm init --pod-network-cidr=10.244.0.0/16 --apiserver-advertise-address=0.0.0.0 --apiserver-cert-extra-sans=$localip,$external,$interna

kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml
kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/k8s-manifests/kube-flannel-rbac.yml

mkdir -p $HOME/.kube
sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
sudo chown $(id -u):$(id -g) $HOME/.kube/config

export token=$(kubeadm token generate)
join=$(sudo kubeadm token create $token --print-join-command --ttl=0)


echo $join > kube.node
